<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/dhanlakshmi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jshbank"
        tools:targetApi="31">
        <activity
            android:name=".BusinessLoan"
            android:exported="false" />
        <activity
            android:name=".Interest"
            android:exported="false" />
        <activity
            android:name=".AtmCard"
            android:exported="false" />
        <activity
            android:name=".StudyLoan"
            android:exported="false" />
        <activity
            android:name=".CreditCard"
            android:exported="false" />
        <activity
            android:name=".Loan"
            android:exported="false" />
        <activity
            android:name=".AccountAdd"
            android:exported="false" />
        <activity
            android:name=".splashactivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>